/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Left-hand home row mods
#define GUI_A  &hm LGUI  A
#define ALT_S  &hm RALT  S
#define CTRL_D &hm LCTRL D
#define SHFT_F &hm LSHFT F

// Right-hand home row mods
#define SHFT_J   &hm RSHFT J
#define CTRL_K   &hm RCTRL K
#define ALT_L    &hm RALT  L
#define GUI_SEMI &hm RGUI  SEMI

#define CAPSWRD &caps_word

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
//,-----------------------------------------------------.                    ,-----------------------------------------------------.
  &none    &kp Q    &kp W    &kp E    &kp R    &kp T                         &kp Y    &kp U    &kp I    &kp O    &kp P    &kp BSLH
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   CAPSWRD  GUI_A    ALT_S    CTRL_D   SHFT_F  &kp G                         &kp H     SHFT_J   CTRL_K   ALT_L    GUI_SEMI &kp SQT
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
  &none    &kp Z    &kp X    &kp C    &kp V    &kp B                         &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH &none
//|--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------|
                                      &kp BSPC &mo 1    &kp SPACE   &kp RET  &mo 2    &kp ESC
//                                    `--------------------------'  `--------------------------'
            >;
        };
        
        lower_layer {
            bindings = <
//,-----------------------------------------------------.                    ,-----------------------------------------------------.
  &none    &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                        &kp N6   &kp N7   &kp N8   &kp N9   &kp N0   &none
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
  &none    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &kp LEFT &kp DOWN &kp UP   &kp RIGHT &none   &none
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
  &none    &out OUT_TOG &none &none   &none    &none                         &none    &none    &none    &none    &none    &none
//|--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------|
                          	          &trans   &trans   &trans      &trans   &trans   &trans
//                                    `--------------------------'  `--------------------------'
            >;
        };

        raise_layer {
            bindings = <
//,-----------------------------------------------------.                    ,-----------------------------------------------------.
  &none    &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT                     &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR &none
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   &none      &none    &none  &none    &none    &none                        &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &none
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
  &none    &none    &none    &none    &none    &none                         &kp UNDER &kp PLUS &kp LBRC &kp RBRC &kp PIPE &none
//|--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------|
                    	              &trans   &trans   &kp UNDER   &trans   &trans   &trans
//                                    `--------------------------'  `--------------------------'
            >;
        };
    };
};
