/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include "keycodes.h"

&caps_word {
  continue-list = <UNDERSCORE MINUS>;
};

/ {
  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick-tap-ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };
    
  conditional_layers {
    compatible = "zmk,conditional-layers";
    tri_layer {
      if-layers = <_NAV _SYMBOL>;
      then-layer = <_ADJUST>;
    };
  };

  dot: dot {
    compatible = "zmk,behavior-mod-morph";
    label = "DOT";
    #binding-cells = <0>;
    bindings = <KC_DOT>, <XXXX>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };

  comma: comma {
    compatible = "zmk,behavior-mod-morph";
    label = "COMMA";
    #binding-cells = <0>;
    bindings = <KC_COMMA>, <XXXX>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  
  macros {
    ZMK_MACRO(farr,
      wait-ms = <10>;
      bindings = <KC_EQUAL KC_GT>;
    )
    ZMK_MACRO(tarr,
      wait-ms = <10>;
      bindings = <KC_MINUS KC_GT>;
    )
    ZMK_MACRO(devtools,
      wait-ms = <10>;
      bindings
          = <&macro_press KC_LGUI>
          , <&macro_press KC_LSHFT>
          , <&macro_tap KC_I>
          , <&macro_release KC_LSHFT>
          , <&macro_release KC_LGUI>;
    )
  };
    
  keymap {
    compatible = "zmk,keymap";
    default_layer {
      bindings = <
//,-----------------------------------------------------.                    ,-----------------------------------------------------.
   XXXX     KC_Q     KC_W     KC_E     KC_R     KC_T                          KC_Y     KC_U     KC_I     KC_O     KC_P     XXXX
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   XXXX     GUI_A    ALT_S    CTRL_D   SHFT_F   KC_G                          KC_H     SHFT_J   CTRL_K   ALT_L    GUI_SEMI XXXX
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   XXXX     KC_Z     KC_X     KC_C     KC_V     KC_B                          KC_N     KC_M     &comma   &dot     KC_FSLH  XXXX
//|--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------|
                                       KC_BSPC  NAV      KC_SPACE    KC_RET   SYM_TAB  KC_ESC
//                                    `--------------------------'  `--------------------------'
      >;
    };
        
    num_nav_layer {
      bindings = <
//,-----------------------------------------------------.                    ,-----------------------------------------------------.
   XXXX     KC_N1    KC_N2    KC_N3    KC_N4    KC_N5                         KC_N6    KC_N7    KC_N8    KC_N9    KC_N0    XXXX
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   XXXX     KC_LGUI  KC_RALT  KC_LCTRL KC_LSHFT XXXX                          KC_LEFT  KC_DOWN  KC_UP    KC_RIGHT XXXX     XXXX
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   XXXX     XXXX     XXXX    &devtools XXXX     XXXX                          XXXX     CAPSWRD   XXXX     XXXX     XXXX     XXXX
//|--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------|
                                       KC_DEL   ____     ____        ____     ____     ____
//                                    `--------------------------'  `--------------------------'
      >;
    };

    symbol_layer {
      bindings = <
//,-----------------------------------------------------.                    ,-----------------------------------------------------.
   XXXX     KC_EXCL  KC_AT    KC_HASH  KC_DLLR  KC_PRCNT                      KC_CARET KC_AMPS  KC_STAR  XXXX     KC_BSLH  XXXX
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   XXXX     KC_SQT   KC_LT    KC_LBKT  KC_LPAR  KC_LBRC                       &farr    KC_EQUAL KC_MINUS KC_GRAVE KC_PIPE  XXXX
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   XXXX     KC_DQT   KC_GT    KC_RBKT  KC_RPAR  KC_RBRC                       &tarr    KC_PLUS  XXXX     KC_TILDE XXXX     XXXX
//|--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------|
                                       ____     ____     KC_UNDER    ____     ____     ____
//                                    `--------------------------'  `--------------------------'
      >;
    };
        
    adjust_layer {
      bindings = <
//,-----------------------------------------------------.                    ,-----------------------------------------------------.
   XXXX     KC_F1    KC_F2    KC_F3    KC_F4    KC_F5                         KC_F6    KC_F7    KC_F8    KC_F9    KC_F10   XXXX
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   XXXX     BT_SEL5  BT_SEL4  BT_SEL3  BT_SEL2  BT_SEL1                       XXXX     XXXX     XXXX     XXXX     KC_F11   XXXX
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   XXXX     USB_BT   XXXX     XXXX     XXXX     REBOOT                        REBOOT   BT__CLR  XXXX     XXXX     KC_F12   XXXX
//|--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------|
                                       ____     ____     ____        ____     ____     ____
//                                    `--------------------------'  `--------------------------'
      >;
    };
  };
};
