#include <behaviors.dtsi>

#include "base.keymap"

#define EMPTY_ROW XXXX XXXX XXXX XXXX XXXX XXXX  XXXX XXXX XXXX XXXX XXXX XXXX

/ {
  keymap {
    compatible = "zmk,keymap";
    default_layer {
      display-name = "QWERTY";
      bindings = <
        EMPTY_ROW
        XXXX DTR XXXX
        XXXX DMR XXXX
        XXXX DBR(XXXX, XXXX) XXXX
        XXXX DTHR XXXX
      >;
    };

    gaming_layer {
      display-name = "GAMING";
      bindings = <
//,-----------------------------------------------------.                    ,-----------------------------------------------------.
   KC_ESC   KC_N1    KC_N2    KC_N3    KC_N4    KC_N5                         KC_N6    KC_N7    KC_N8    KC_N9    KC_N0    KC_BSPC
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   KC_LCTRL KC_Q     KC_W     KC_E     KC_R     KC_T                          KC_Y     KC_U     KC_I     KC_O     KC_P     KC_RCTRL
//|--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
   KC_LSHFT KC_A     KC_S     KC_D     KC_F     KC_G                          KC_H     KC_J     KC_K     KC_L     KC_SEMI  KC_RSHFT
//|--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------|
   KC_LGUI  KC_Z     KC_X     KC_C     KC_V     KC_B     KC_M        XXXX    KC_N     KC_M     KC_COMMA KC_DOT   KC_FSLH  KC_RGUI
//|--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------|
                              NAV      KC_TAB   KC_RALT  KC_SPACE    KC_RET   SYM_TAB  XXXX     XXXX
//                           `-----------------------------------'  `-----------------------------------'
      >;
    };
        
    num_nav_layer {
      display-name = "NAVI";
      bindings = <
        EMPTY_ROW
        XXXX NTR XXXX
        XXXX NMR XXXX
        XXXX NBR(XXXX, XXXX) XXXX
        XXXX NTHR XXXX
      >;
    };

    symbol_layer {
      display-name = "SYMBOL";
      bindings = <
        EMPTY_ROW
        XXXX STR XXXX
        XXXX SMR XXXX
        XXXX SBR(XXXX, XXXX) XXXX
        XXXX STHR XXXX
      >;
    };
        
    adjust_layer {
      display-name = "ADJUST";
      bindings = <
        EMPTY_ROW
        XXXX ATR XXXX
        XXXX AMR XXXX
        XXXX ABR(XXXX, XXXX) XXXX
        XXXX ATHR GAMING
      >;
    };
  };
};
